@import "partials/_overide-bootstrap.scss";
@import "../bootstrap/scss/bootstrap.scss";

@import "partials/_fonts.scss";
@import "partials/_animations.scss";
@import "partials/_base.scss";
@import "partials/_header.scss";
@import "partials/_first-section.scss";
@import "partials/_trends.scss";
@import "partials/_services.scss";
@import "partials/_biography.scss";