$active-dot-color:#D0B6B6;
$dot-color:rgba(208, 182, 182, 0.4);
$line-color: #ECD9D9;

.biography{
    margin-bottom: 16rem;
    .biography-title{
        padding-top:12.7rem;
        padding-bottom: 2.8rem;
    }
    .biography-line{
        width: 95px;
        height: 2px;
        margin-bottom:4.7rem;
        margin-left: 0;
        display: block;
        background-color: $line-color;
    }
    .biography-info{
        padding:4rem 5rem 4rem 5rem;
        @media (min-width: 992px) {
            padding: 8.7rem 9.5rem 8.7rem 9.5rem !important;
        }
        border: 2px solid #ECD9D9;
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
        .row{

            margin:0;
            img{
                width:100%;
                display: block;
            }
            .biography-card{
                position:relative;
                .biography-name{
                    font-weight:400 !important;
                    font-size:36px !important;
                    font-family: $lato !important;
                    line-height:46px;
                }
                .biography-description{
                    margin-bottom: 2.7rem;
                }
                .owl-dots{
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    display: flex;
                    gap: 5px;

                    .owl-dot{
                        .active span {
                                background-color: $active-dot-color !important;
                            }
                        span {
                            background-color:$dot-color !important;
                            width: 18.4px !important;
                            height: 6px !important;
                            display: block;
                            border-radius: 0px;
                            margin-left: 5px !important;
                            transition: background 0.3s;
                            
                        }
                    }
                }
            }
        }
    }
}


