$input-color:#000;
$form-bg-color:#F5F5F5;
$bg-contact-color: #ECD9D9;


.contact-form-section{
    .contact{
        display:flex !important;
        flex-wrap: wrap !important;
        padding:10.8rem 0 10.1rem;
        justify-content: space-between;
        .contact-form-data{
            @media(min-width:992px){
                padding-right:4rem;
            }
            .contact-form-title{
                font-size:30px;
                letter-spacing: 10%;
                margin-bottom:3.4rem;
            }
            .contact-form{
                .form-group{
                    text-align: left !important;
                    .form-control{
                        font-size: 14px;
                        line-height: 28px !important;
                        color:$input-color !important;
                        background-color:$form-bg-color;
                        padding:0;
                        border-radius:0;
                        margin-bottom: 1.4rem;
                        padding-left: 20px;
                    }
                    .contact-button{
                        background-color:#fff;
                        border:1px solid #000;
                        text-align:left !important;
                        margin-left: 0 !important;
                        margin-top:0.8rem;
                        @media(max-width:992px){
                            margin-bottom:3rem !important;
                        }
                    }
                }
            }
        }
        .contact-map{
            iframe{
                width: 100%;
                height: 350px;
                display: block;
                margin: 0 auto;
                @media(min-width:992px){
                    width:546px !important;
                    height:509px !important;
                    display:block !important;
                }
            }
        }
    }
}
.contact-info-section{
    background-color:#fff;
    margin-bottom:10.5rem !important;
    .contact-info-desc{
        text-align: center;
        background-color: $bg-contact-color;
        .contact-buttons{
            padding: 7.4rem 0 !important;
            .contact-info-data{
                line-height: 2.4rem !important;
                font-size: 1.4rem !important;
            }
        }
    }
}