$line-color: #ECD9D9;

.trends{
    .trends-title{
        text-spacing: 10%;
        padding: 6.7rem 0 2.8rem;
    }
    .trends-line{
        display: block;
        width: 95px;
        height: 2px;
        background-color: $line-color;
        margin-left: 0;
        margin-bottom: 4.1rem;
    }
    .trends-group{
        margin-bottom: 12rem;
        @media(min-width:992px){
            margin-bottom:0rem;
        }
    .trends-article{
        position:relative;
        overflow: visible;
        img{
            width:100%;
            display:block;
        }
        .trends-info{
            position: absolute;
            left: 50%;
            bottom: -77px;
            transform: translateX(-50%);
            background: white;
            padding: 27px;
            width: 90%;
        }
    }
    }
}