$line-color: #ECD9D9;

.trends{
    .trends-title{
        text-spacing: 10%;
        padding-bottom: 2.8rem;
    }
    .trends-line{
        display: block;
        width: 95px;
        height: 2px;
        background-color: $line-color;
        margin-left: 0;
        margin-bottom: 4.1rem;
    }
    .trends-group{
        margin-bottom: 12.7rem;
    .trends-article{
        position:relative;
        overflow: visible;
        img{
            width:100%;
            display:block;
        }
        .trends-info{
            position: absolute;
            left: 50%;
            bottom: -77px;
            transform: translateX(-50%);
            background: white;
            padding: 27px;
            width: 90%;
            text-align: center;
            p{
                font-style: italic;
                font-weight: 500 !important;
                font-size:14px !important;
                line-height: 46px !important;
                font-family:$playfair !important;
            }
            h4{
                font-size: 16px !important;
                letter-spacing: 10%;
                line-height: 24px !important;
            }
        }
    }
    }
}